<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CW1_Pavan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D71EFD961E44D85700B34B3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D71EFDAA1E44D85800B34B3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D71EFDB51E44D85800B34B3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
